1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
s = "Amr Mamdouh"
print(len(s))

# another way
count = 0
for i in s:
    count+=1
print(count)

11
11

2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource' <br>
Expected Result : 'w3ce' <br>
##Sample String : 'w3'<br>
Expected Result : 'w3w3'<br>
##Sample String : ' w'<br>
Expected Result : Empty String)

In [ ]:
s = input()
n = len(s)
if n > 2:
  print(s[0]+s[1] + s[n-2]+s[n-1])
elif n == 2 :
  print(s+s)
else :
  print("")

w

3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
s = input()
n = len(s)
test = ""
if n >= 3:
    for i in range(n-3 , n):
        test = test+s[i]
else :
  print(s)

if test == "ing":
  print(s+"ly")
else:
  print(s+"ing")



# print(test)

ing
ingly

4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
l = ["amr" , "ahmed" , "ali" , "mostafa"]
maxx=0
for i in range(len(l)):
    if len(l[i]) > maxx:
      maxx = len(l[i])


print(maxx)

7

5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
s = input()
print(s[n-1] + s[1:n-1] + s[0])

amr
rma

6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
s = input()

for i in range(len(s)):
  if i % 2 ==0 :
    print(s[i],end="")

masmd
msd

7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
s = input()
d={}
for i in s.split():
    if i in d:
        d[i]+=1
    else:
        d[i]=1

max_freq = 0
for i in d:
    if d[i] > max_freq:
        max_freq = d[i]
        index = i
print(max_freq)

amr and ahmed are frindes but amr is the tallest
2

8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
s = input()
print(s.upper())
print(s.lower())

amr
AMR
amr

9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
s = input()
n = len(s)
if n % 4 == 0:
  print(s[::-1])

amra
arma

10- Write a Python program to remove a newline in Python

In [ ]:
s = "amr\n"
print(s.rstrip())

amr

11-Write a Python program to check whether a string starts with specified characters

In [ ]:
s = input()
s.startswith("a")

amr

True

12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
s = input()
for i in s.split():
  print("Mr.",i)
# or
text = "Mr ."
for line in s.splitlines():
    print(text, line)

mohamed
Mr. mohamed
Mr . mohamed

13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
n = float(input())
print(round(n,2))

-51654.25
-51654.25

14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
n = float(input())
print(f"{n:.2f}")

88.484
88.48

15-Write a Python program to display a number with a comma separator

In [ ]:
n = float(input())
print(f"{n:,}")

18
18.0

16-Write a Python program to reverse a string using 2 ways

In [5]:
s=  "Amr mamdouh"
print(s[::-1])
# or
i = len(s)-1
while i >= 0:
  print(s[i] , end="")
  i-=1

huodmam rmA

 17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [8]:
s = "hello my name is amr "

d={}
for i in s:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
# print(d)
cnt = 0
for i in d:
    if d[i] > 1 and i != " ":
        # print(i)
        cnt+=1
print(cnt)

4

18-Write a Python program to find the first non-repeating character in a given string

In [9]:
s= "hello my name is amr"
d={}
for i in s:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
for i in d:
    if d[i] == 1:
        print(i)
        break

h

19-Write a Python program to remove spaces from a given string

In [10]:
s= "hello my name is amr"
print(s.replace(" ",""))

hellomynameisamr

20-Write a Python program to count the number of non-empty substrings of a given string

In [14]:
s = "AmrMamdouh"
n = len(s)
count = 0
for i in range(n):
    for j in range(i, n):
        count += 1
print(count)

55

21-write a Python program to swap first and last element of any list.

22-Given a list in Python and provided the positions of the elements,
<br>write a program to swap the two elements in the list.<br>
(Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3 <br>
Output : [19, 65, 23, 90])

In [15]:
l  = [23, 65, 19, 90]
pos1 = 1
pos2 = 3
l[pos1] , l[pos2] = l[pos2] , l[pos1]
print(l)

[23, 90, 19, 65]

23- search for the all ways to know the length of the list

In [16]:
l = [1,2,3,4,5,6,7,8,9]
print(len(l))
# or
count = 0
for i in l:
    count+=1
print(count)

9
9

24-write a Python code to find the Maximum number of list of numbers.

In [17]:
l = [1,2,3,4,5,6,7,8,9]
print(max(l))

9

25-write a Python code to find the Minimum number of list of numbers.

In [18]:
l = [1,2,3,4,5,6,7,8,9]
print(min(l))

1

**26-search for if an elem is existing in list

In [20]:
l = [1,2,3,4,5,6,7,8,9]
key = 3
print(key in l)

True

**27- clear python list using different ways

In [22]:
l= [1,2,3,4,5,6,7,8,9]
l.clear()
print(l)
# or
l = []
print(l)

[]
[]

**28-remove duplicated elements from a list

In [23]:
l = [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]
l = list(set(l))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.<br>
(Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]<br>
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [25]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
list_of_dics = []
for i in range(0,len(test_list)-1,2):
    list_of_dics.append({key_list[0]:test_list[i],key_list[1]:test_list[i+1]})

print(list_of_dics)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
l = [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]
print(len(set(l)))

# another way with dic
d = {}
for i in l:
    d[i]+=1
print(d)
print(len(d))

9
9

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k = 3
d = {}
for i in test_list:
    if i in d:
        d[i]+=1

for i in d:
    if d[i] > k:
        print(i)

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
 l = [1,2,2,3,4,5]
for i in range(1,len(l)):
    print(max(l[i],l[i-1]))

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
l = [1,2,3]
for i in range(3):
    for j in range(3):
        for k in range(3):
            if i!=j and j!=k and i!=k:
                print(l[i],l[j],l[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
l = [1,2,3]
for i in range(len(l)):
    for j in range(i,len(l)):
        print(l[i:j+1])

[1]
[1, 2]
[1, 2, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
l1 = ["a","b" , "c"]
l2 = [1,2,3]
l3 = []
for i in range(len(l1)):
    for j in range(len(l2)):
        l3.append((l1[i],l2[j]))
l3

[('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 1),
 ('c', 2),
 ('c', 3)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
l  = [1,1,2,3,4,5,1,2,1]
d = {}
for i in l:
    if i in d:
        d[i]+=1
    else:
        d[i]=1

max_freq = 0
for i in d:
    if d[i] > max_freq:
        max_freq = d[i]
        index = i

for i in l :
  if i  != index:
     print(i , end=" ")

1
2 3 4 5 2

**37-write a python program to Replace index elements with elements in Other List <br>
(The original list 1 is : [‘Gfg’, ‘is’, ‘best’]<br>
The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] <br>
The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
listt = ['Gfg', 'is', 'best']
listt2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
for i in listt2:
    print([listt[i]],end=',')

['Gfg'],['is'],['best'],['is'],['Gfg'],['Gfg'],['Gfg'],['best'],['is'],['is'],['best'],['Gfg'],

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 <br>
Output : [(4, 5, 5, 4)] <br>
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 <br>
Output : [] )

In [ ]:
l = [(4,5,5,4),(5,4,3)]
k = 5
n = 2

for i in l:
    d = {}
    for j in i:
        if j in d:
            d[j]+=1
        else:
            d[j]=1
    if d[k] == n:
        print(i)

(4, 5, 5, 4)

**39-write a Python Program to Sort the list according to the column using lambda<br>
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]<br>
Output :<br>
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]<br>
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]<br>
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
arr = [[1,3,3],[2,1,2],[3,2,1]]
for i in range(3):
    arr.sort(key=lambda x:x[i])
    print(arr)

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value <br>
Input: <br>
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
<br>
Output: <br>
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
d = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
print(dict(sorted(d.items())))

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values ) <br>
input : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 <br>
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:

d = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
k = 7
for i in list(d.keys()):
    if isinstance(d[i], int) and d[i] > k:
        d.pop(i)
print(d)

{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50,6:60}

dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}

for keys , values in d.items():
    print(keys , values)

a 1
b 2
c 3

**44- Write a Python script to merge two Python dictionaries

In [ ]:
d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'d': 4, 'e': 5, 'f': 6}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

**45-Write a Python program to get the maximum and minimum values of a

---

dictionary values

In [ ]:
d1 = {'a': 1, 'b': 2, 'c': 3}
print(max(d1.values()))
print(min(d1.values()))
#

3
1

**46- Write a Python program to drop empty items from a given dictionary.<br>
Original Dictionary:<br>
{'c1': 'Red', 'c2': 'Green', 'c3': None}<br>
New Dictionary after dropping empty items:<br>
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
d1 = {'c1': 'Red', 'c2': 'Green', 'c3': None}
d2 = {k:v for (k,v) in d1.items() if v is not None}
print(d2)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
t = (1,2,3,4)
print(t[0])

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
t = (1,2,3,4)
a,b,c,d = t
print(a,b,c,d)

1 2 3 4

**49-Write a Python program to add an item to a tuple

In [ ]:
t = (1,2,3,4)
t = t + (5,)
print(t)

(1, 2, 3, 4, 5)

**50-Write a Python program to convert a tuple to a string

In [ ]:
t   = (1 , 2, 3 )
t = str(t)
t = ''.join(t)
print(t)

(1, 2, 3)

**51-Write a Python program to convert a list to a tuple

In [ ]:
  l = [1,2,3,4]

  t = tuple(l)
  print(t)

(1, 2, 3, 4)

**52-Write a Python program to reverse a tuple

In [ ]:
t = (1,2,3,4)
t = t[::-1]
print(t)

(4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.<br>
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)] <br>
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(len(l)):
    l[i] = list(l[i])
    l[i][-1] = 100
    l[i] = tuple(l[i])
print(l)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0 <br>
<class 'str'> <br>
Convert the said string to a tuple: <br>
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
s = 'python3.0'
t = tuple(s)
print(t)

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
t = ((10, 20, 40), (40, 50, 60), (70, 80, 90))
sum = 0
for i in t:
    for j in i:
        sum += j
print(sum/len(t))

153.33333333333334

**56-Write a Python program to add member(s) to a set.

In [ ]:
s = {1,2,3,4}
s.add(5)
print(s)
s.update([6,7,8])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
s = {1,2,3,4}
s.remove(3)
print(s)

{1, 2, 4}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
s1 = {1 ,2 ,3 }
s2 = {4 ,5 ,3 }
print(s1.intersection(s2))
print(s1.union(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{3}
{1, 2, 3, 4, 5}
{1, 2}
{1, 2, 4, 5}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
s1 = {1 ,2 ,3 }
print(max(s1))
print(min(s1))

3
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
l = [1,2,3,4,5,6,7,8,9]
sum = 12
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i] + l[j] == sum:
            print(l[i],l[j])

3 9
4 8
5 7